.empty {
  display: grid;
  justify-items: center;
  min-height: 238px;
  margin-top: var(--space-6);
  color: var(--color-text-muted);
}

.empty p {
  justify-self: start;
  margin: 0;
  font-size: var(--font-size-lg);
}

.empty img {
  width: 200px;
  max-width: 70%;
  height: auto;
  margin-top: var(--space-6-5);
}
