GIN_MODE=release
PORT={{ vault_api_port }}
HTTP_ADDR=127.0.0.1:{{ vault_api_port }}
DB_PATH={{ vault_app_root }}/shared/data/vault.db
CORS_ORIGINS=https://{{ vault_admin_domain }},https://{{ vault_guest_domain }},https://{{ vault_api_domain }}
PANEL_PASSWORD={{ vault_panel_password }}
HTTP_READ_HEADER_TIMEOUT=5s
HTTP_READ_TIMEOUT=15s
HTTP_WRITE_TIMEOUT=30s
HTTP_IDLE_TIMEOUT=60s
HTTP_SHUTDOWN_TIMEOUT=10s
