.copy {
  display: grid;
  grid-column: 2;
  gap: var(--space-4-5);
  margin-top: var(--space-6);
  font-size: var(--font-size-lg);
  line-height: var(--line-height-compact);
  color: var(--color-text-subtle);
}

.copy a {
  color: var(--color-brand);
  text-decoration: underline;
}

.copy p {
  margin: 0;
}

@media (width <= 760px) {
  .copy {
    margin-top: var(--space-5);
    font-size: var(--font-size-lg);
    line-height: var(--line-height-title);
  }
}
