.downloadAppCard {
  display: grid;
  grid-column: 2;
  grid-template-columns: minmax(0, 1fr) auto 18px;
  gap: var(--space-3-5);
  align-items: center;
  width: 100%;
  min-height: 64px;
  margin-top: var(--space-4-5);
  padding: 0 var(--space-5-5);
  color: var(--color-text-inverse);
  text-align: left;
  background: var(--color-brand-strong);
  border: 0;
  border-radius: var(--radius-3xl);
}

.downloadAppCard span {
  font-size: var(--font-size-8xl);
  font-weight: 400;
}

.downloadAppCard strong {
  display: inline-flex;
  gap: var(--space-2);
  align-items: center;
  font-size: var(--font-size-md);
}

.downloadAppCard strong svg {
  flex: 0 0 auto;
}

@media (width <= 760px) {
  .downloadAppCard {
    grid-template-columns: 1fr;
    justify-items: center;
    min-height: 80px;
    margin-top: var(--space-4-5);
    padding: var(--space-4);
    text-align: center;
    border-radius: var(--radius-lg);
  }

  .downloadAppCard span {
    font-size: var(--font-size-4xl);
  }

  .downloadAppCard strong {
    font-size: var(--font-size-lg);
  }
}
